@import "../../styles/_breakpoints.scss";

.registerContainer {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  .registerWrapper {
    min-width: 25%;
    padding: 20px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 10px;
    background-color: white;
    @include mobile {
      margin: 0px 10px;
    }

    .error {
      color: rgb(246, 86, 86);
    }

    h1 {
      font-size: 24px;
      font-weight: 300;
    }

    .registerForm {
      display: flex;
      flex-direction: column;

      input {
        flex: 1;
        min-width: 40%;
        margin: 10px 0px;
        padding: 10px;
      }

      button {
        width: 40%;
        border: none;
        padding: 15px 20px;
        background-color: rgb(89, 89, 154);
        color: white;
        cursor: pointer;
        margin-bottom: 10px;
      }

      .agreement {
        font-size: 12px;
        margin: 20px 0px;
      }

      .btnContainer {
        .cancelBtn {
          margin-left: 5px;
          background-color: white;
          color: black;
          border: 1px solid black;
        }
      }
    }
  }
}
