@import "../../styles/_breakpoints.scss";

.ProductListContainer {
  h1 {
    margin: 20px;
  }

  .filterContainer {
    display: flex;
    justify-content: space-between;

    .filter {
      margin: 20px;
      @include mobile {
        width: 0px 20px;
        display: flex;
        flex-direction: column;
      }

      .filterText {
        font-size: 20px;
        font-weight: 600;
        margin-right: 20px;
        @include mobile {
          margin-right: 0px;
        }
      }

      select {
        padding: 10px;
        margin-right: 20px;
        @include mobile {
          margin: 10px 0px;
        }
      }
    }
  }
}
